body {
    background: #020611;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    color: white;
}

.login-card {
    background: #061325;
    padding: 25px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 0 15px cyan;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: black;
    border: 1px solid cyan;
    border-radius: 8px;
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: cyan;
    border: none;
    border-radius: 8px;
    color: black;
    font-weight: bold;
}

.ganti-pass {
    margin-top: 10px;
    cursor: pointer;
    color: cyan;
    text-decoration: underline;
}

/* POPUP */
.popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: #0009;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-card {
    background: #07203a;
    width: 260px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px cyan;
}

.popup-card input {
    margin-top: 8px;
}

button.close {
    background: #ff3570;
    color: white;
    margin-top: 10px;
}
