body {
  margin: 0;
  font-family: Arial;
  background: #020612;
  color: white;
}

.container {
  width: 92%;
  margin: auto;
  padding-top: 20px;
}

.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: cyan;
  text-shadow: 0 0 10px cyan;
}

.sub-title {
  margin-top: 35px;
  font-size: 22px;
  color: #4ecbff;
  text-shadow: 0 0 10px #4ecbff;
}

.form-box {
  padding: 20px;
  border-radius: 12px;
  background: #0a1124;
  box-shadow: 0 0 20px rgba(0,255,255,0.2);
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.row div {
  flex: 1;
}

.full {
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-top: 5px;
  background: #121b33;
  color: cyan;
}

.btn-row {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.btn-green {
  flex: 1;
  padding: 12px;
  background: #00ff66;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn-red {
  flex: 1;
  padding: 12px;
  background: #ff006a;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #1b2a4a;
  text-align: center;
}

th {
  background: #001f4d;
  color: cyan;
}

td {
  background: #021024;
}

.btn-edit {
  background: orange;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-hapus {
  background: red;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: 5px;
  cursor: pointer;
}
